<footer class="bg-main-light py-4">
  <div class="container">
    <h2>Get The FreshCart App</h2>
    <p class="text-muted">
      We will send you a link, open it on your phone to download the app.
    </p>
    <div class="d-flex gap-3 footForm">
      <input type="text" class="form-control" placeholder="Email..." />
      <button class="main-btn flex-shrink-0">Share App Link</button>
    </div>
    <hr />
    <div class="row footRow">
      <div class="col-md-5">
        <div
          class="d-flex justify-content-center align-items-center rg-content"
        >
          <h5>Payment Partners</h5>
          <img
            src="./assets/images/amazonpay.png"
            style="width: 75px"
            alt="amazonpay"
          />
          <img
            src="./assets/images/American-express.png"
            style="width: 75px"
            alt="American-express"
          />
          <img
            src="./assets/images/master-card.png"
            style="width: 75px"
            alt="master-card"
          />
          <img
            src="./assets/images/pay-pal.png"
            style="width: 75px"
            alt="pay-pal"
          />
        </div>
      </div>
      <div class="col-md-7">
        <div
          class="d-flex justify-content-center align-items-center lf-content"
        >
          <h5>Get deliveries with FreshCart</h5>
          <img
            src="./assets/images/app-store.png"
            style="width: 150px"
            alt="app-store"
          />
          <img
            src="./assets/images/google-play.png"
            style="width: 150px"
            alt="google-play-badge"
          />
        </div>
      </div>
    </div>
    <hr />
    <h3 class="h6 text-center">&copy; 2024 Youssef Dahy All Rights Reserved</h3>
  </div>
</footer>
