<section *ngIf="step1" class="w-50 mt-5 rounded shadow mx-auto p-3 mb-4 forget">
  <div class="container">
    <h2 class="text-center">
      Forgot your password
      <span><i class="text-primary fa-solid fa-lock"></i></span>
    </h2>
    <form (ngSubmit)="forgotPassword()" [formGroup]="forgotForm">
      <label for="email">Email</label>
      <input
        formControlName="email"
        class="form-control"
        type="email"
        id="email"
        placeholder="Please Enter your Email"
      />
      <div
        *ngIf="
          forgotForm.get('email')?.errors && forgotForm.get('email')?.touched
        "
        class="alert alert-danger w-75 mx-auto show"
      >
        <p *ngIf="forgotForm.get('email')?.getError('required')" class="mb-0">
          <span class="fas fa-exclamation-circle me-1"></span>
          <span>Required</span>
        </p>
        <p *ngIf="forgotForm.get('email')?.getError('email')" class="mb-0">
          <span class="fas fa-exclamation-circle me-1"></span>
          <span>InValid Format</span>
        </p>
      </div>
      <button
        [disabled]="forgotForm.invalid"
        class="btn btn-primary w-100 btn-forget mt-3 mb-2"
      >
        Forgot Password
      </button>
      <div
        *ngIf="userMsg"
        class="w-75 mx-auto alert alert-danger show texr-center"
      >
        {{ userMsg }}
      </div>
    </form>
  </div>
</section>

<section *ngIf="step2" class="w-50 rounded shadow mx-auto p-3 forget">
  <div class="container">
    <h2 class="text-center">
      Forgot your password
      <span><i class="text-primary fa-solid fa-lock"></i></span>
    </h2>
    <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()">
      <label for="resetCode">Reset Code</label>
      <input
        formControlName="resetCode"
        class="form-control"
        type="text"
        placeholder="Please Enter your Code"
        id="resetCode"
      />
      <div
        *ngIf="
          resetCodeForm.get('resetCode')?.errors &&
          resetCodeForm.get('resetCode')?.touched
        "
        class="alert alert-danger w-75 mx-auto show"
      >
        <p
          *ngIf="resetCodeForm.get('resetCode')?.getError('required')"
          class="mb-0"
        >
          <span class="fas fa-exclamation-circle me-1"></span>
          <span>Required</span>
        </p>
      </div>
      <button
        [disabled]="resetCodeForm.invalid"
        class="btn btn-primary w-100 btn-forget mt-3"
      >
        Reset Code
      </button>
      <div
        *ngIf="userMsg"
        class="w-75 mx-auto alert alert-danger show texr-center"
      >
        {{ userMsg }}
      </div>
    </form>
  </div>
</section>

<section *ngIf="step3" class="w-50 rounded shadow mx-auto p-3 mb-5 mt-5 forget">
  <div class="container">
    <h2 class="text-center">
      Forgot your password
      <span><i class="text-primary fa-solid fa-lock"></i></span>
    </h2>
    <form [formGroup]="resetPassword" (ngSubmit)="newPassword()">
      <label for="newPassword">Reset Password</label>
      <input
        formControlName="newPassword"
        class="form-control"
        type="password"
        id="newPassword"
        placeholder="Please Enter your New Password"
      />
      <div
        *ngIf="
          resetPassword.get('newPassword')?.errors &&
          resetPassword.get('newPassword')?.touched
        "
        class="alert alert-danger w-75 mx-auto show"
      >
        <p
          *ngIf="resetPassword.get('newPassword')?.getError('required')"
          class="mb-0"
        >
          <span class="fas fa-exclamation-circle me-1"></span>
          <span>Required</span>
        </p>
        <p
          *ngIf="resetPassword.get('newPassword')?.getError('pattern')"
          class="mb-0"
        >
          <span class="fas fa-exclamation-circle me-1"></span>
          <span
            >Must be 9 characters and include capital letters and small letters
            and (&,@,*)</span
          >
        </p>
      </div>
      <button
        [disabled]="resetPassword.invalid"
        class="btn btn-primary w-100 btn-forget mt-3"
      >
        Reset Password
      </button>
      <div
        *ngIf="userMsg"
        class="w-75 mx-auto alert alert-danger show texr-center"
      >
        {{ userMsg }}
      </div>
    </form>
  </div>
</section>
