.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #0aad0a;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(0 255 87 / 25%);
}
.search-input {
  background-image: url("../../../assets/images/search.png");
  background-size: 20px 20px;
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 40px;
}

@media (max-width: 375px) {
  .search {
    width: 100% !important;
  }
}
@media (max-width: 360px) {
  .search {
    width: 100% !important;
  }
}
@media (max-width: 393px) {
  .search {
    width: 100% !important;
  }
}
@media (max-width: 433px) {
  .search {
    width: 100% !important;
  }
}
@media (max-width: 412px) {
  .search {
    width: 100% !important;
  }
}
@media only screen and (max-width: 1024px) and (min-height: 800px) {
  .search {
    width: 100% !important;
  }
}
@media only screen and (max-width: 688px) and (min-height: 1031px) {
  .search {
    width: 100% !important;
  }
}
.Paginate {
  color: #0aad0a;
}
