.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #0aad0a;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(0 255 87 / 25%);
}
.show {
  animation: shake 1.2s ease-in-out;
}
.btn-forget:hover {
  text-decoration: underline;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateX(10px);
  }
}
.login {
  background-image: url(../../../assets/images/light-patten.svg);
  background-position: center;
  background-size: cover;
}
